<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>
      {{#if title}}
          {{title}}
      {{else}}
          Live chat
      {{/if}}
    </title>
    <link rel="stylesheet" href={{static}}"/css/normalize.css">
    <link rel="stylesheet" href={{static}}"/css/style.css">
  </head>

  <body>
    {{#> body-block}}
    {{/body-block}}
  </body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="{{static}}/js/index.js"></script>
  <script src="{{static}}/js/chat.js"></script>

  {{#> extra-js-block}}
  {{/extra-js-block}}
</html>
