<div class="ui">
  <div class="left-menu">
      <form action="#" class="search">
        <input placeholder="search..." type="search" name="" id="">
        <input type="submit" value="&#xf002;">
      </form>
      <menu class="list-friends">
        {{#each users}}
        <li>
          <img width="50" height="50" src="http://lorempixel.com/50/50/people/{{@index}}">
          <div class="info">
            <div class="user">{{this.name}}</div>
            <div class="status on"> online</div>
          </div>
        </li>
        {{/each}}
      </menu>
  </div>
  <div class="chat">
    <div class="top">
      <div class="avatar">
        <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
      </div>
      <div class="info">
        <div class="name">Trina</div>
        <div class="count">already 1 902 messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <ul class="messages">
      {{#each messages}}
      <li class="i">
        <div class="head">
          <span class="time">{{this.time}}</span>
          <span class="name">{{this.name}}</span>
        </div>
        <div class="message">{{this.message}}</div>
      </li>
      {{/each}}
    </ul>
    <div class="write-form">
      <textarea placeholder="Type your message" name="e" id="texxt"  rows="2"></textarea>
      <i class="fa fa-picture-o"></i>
      <i class="fa fa-file-o"></i>
      <span id="send-location" class="send">Send</span>
    </div>
  </div>
</div>
